{% extends 'base.html.twig' %}

{% block title %}Projet Learning PHP-Symfony{% endblock %}

{% block body %}
    <h3>Projet Learning PHP-Symfony</h3>
    <p>Théotim ALBERTEAU</p>
    <a href="{{path('app_article')}}" class="btn-primary">
        Voir les articles
    </a>
{% endblock %}
